// Navigation code here

#top{
   

        .center();

    
    h1{
       
        justify-content: center;
    }
    nav{
        margin: 1rem;
        a{
            .nav-styles();
            font-size: 1.4rem;
            margin: 1.5rem;
        }
    }

}





// (flex, align-content: space between, 
// spacewalkers h1{
//     width: 30%?;
//     justify-content: center;
//     @media@mobile{
//         width: 75%
//     }
// }
// nav{
//     display: flex;
//     justify-content: center;
//     width:40%?
//     @media@mobile{
//         width:80%;
//     }
//     nav a{
//         margin: 
//         text;
//         etc;
//     }

// }